@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Permanent Marker:100,200,300,400,500,600,700');

/*----------------- GRID TEMPLATE MAIN PAGE SECTION AREA------------------*/

.fatin-grid {
    grid-area: fatin; 
    margin-left: 10px; 
}

.fatdown-grid {
    grid-area: fatdown;
    margin-right: 10px; 
}

.section-container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 75vh;
    grid-template-areas: "fatin fatdown"
}

/*----------------- GRID TEMPLATE SUB- PAGE SECTION AREA ------------------*/


/*----------------- Colours -----------------*/

.bg-body {
    text-align: center;
    background-image: url("../images/brick-wall-dark.png");
    background-color: #cfd8dc41;
    background-repeat: repeat;
    background-size: unset;
}

.bg-color-header-footer {
    background-color: #8eacbbc5;
}

.bg-color-section {
    background-color: #40241ab9;
}

.bg-color-fatin {
    background-color: #ffb84dd0;
}

.bg-color-fatin-menu {
    background-color: #ffb74d;
}

.bg-color-fatdown {
    background-color: #a4a4a4be;
}

.bg-color-fatdown-menu {
    background-color: #a4a4a4;
}

/* -------------------------------- BORDERS ------------------------------------*/

.border-all {    
    border-style: initial !important;
    border-radius: 25px;   
}

.border-left {
    border-style: initial !important;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.border-right {
    border-style: initial !important;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.border-top {
    border-style: initial !important;
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}

.border-bottom {
    border-style: initial !important;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
}

/*----------------------------------Special paddings/margins/text */

.title {
    font-family: 'Permanent Marker', cursive;
    font-weight: 100;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0;
    display: block;
}

.text-block {
    display: inline-flexbox;
    text-align: center;
}

.txt-fatin {
    color: #f57c00;
    background-color: #424242;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 5px;
    padding-right: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    line-height: 5px;
    text-align: center;
}

.txt-fatdown {
    color: #424242;
    background-color: #f57c00;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 5px;
    padding-left: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
    line-height: 5px;
    text-align: center;
}

.txt-fatin-sub {
    color: #ef6c00;
}

.txt-fatdown-sub {
    color: #424242;
}

.txt-eatfat-sec {
    color: #ef6c00;
    background-color: #424242;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.txt-burnfat-sec {
    color: #424242;
    background-color: #ef6c00;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


h1,
h2,
h3 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}


h4, 
h5 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}


.general-sub {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fafafa;
}
/*----------------- Header -----------------*/

.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;;
    margin-right: 10px;
}

.logo {
    background: url("../images/Logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    transition: none;
    min-height: 80px;
}



#sec-fatin {
    color:#c25e00;
}


.nav-container {
    display: flex;
    height: 100%;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

.menucontainer {
    font-size: 0;
}

ul {
    margin-bottom: 0;

}
.menuitem {
    display: flex;
    flex-flow: column wrap;
    height: 80px;
    align-content: space-around;
    justify-content: center;
    margin: 5px;
    border-style: initial;
    border-radius: 15px;
    background-color: #424242;
}



.menuitem a {
    width: 120px;
    flex-wrap: wrap;
    text-decoration: none;
    justify-content: center;
    color:#ffffff;  
}

.menuitem span {
    display: flex;
    font-family: 'Lato', sans-serif;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 3px;
    
}

/*----------------- Section -----------------*/

.bg-img-fatin{
    background: url("../images/louis-hansel-shotsoflouis-Keto_Fatin.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: initial;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.bg-img-fatdown {
    background: url("../images/content-pixie-workpout_fatdown.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-style: initial;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

#sec-fatin h3 {
    margin-bottom: 10px;
}

.eatfat-list {
    text-align: left;
    margin-left: 20px;
}

.burnfat-list {
    text-align: left;
    margin-left: 20px;
}


.sec-list-item {
    font-size: 15px;
    list-style: none;
    margin-top: 10px;
}

.fa-hamburger {
    margin-right: 15px;
    font-size: 10px;
}

.fa-dumbbell {
    margin-right: 15px;
    font-size: 10px;
}

/*----------------- Footer -----------------*/

.txt-brd-subscribe-social {
    padding: 5px 20px;
    background-color:  #424242;
    border-style: initial;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 15px;
}

footer {
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#footer {
    padding: 10px;
    text-align: left;
}

#footer h5 {
    color: #ffffff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #424242;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ef6c00;
}

.signup form {
    background: transparent;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border-style: initial;
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    margin-right: 1rem;
}

.btn {
    border-top-left-radius: 0.7rem;
    border-bottom-left-radius: 0.7rem;
    border-top-right-radius: 0.7rem;
    border-bottom-right-radius: 0.7rem;
    font-size: .6rem;
    font-weight: 600; 
    border-style: initial; 
    
}

.btn-warning {
    background-color:#495057;
    border-style: initial;
    color: #fafafa;
    font-weight: 700;
}

/*----------------- Hover -----------------*/

.hvr-sweep-to-bottom:before {
    background-color: #ef6c00;
    min-height: auto;
    border-radius: 10px;
}

/* --------------------- Fatin.html -----------------*/

    /* ------text color ------*/

    #sec-fatin-menu {
    color: #ffffff;
    }

    #sec-fatin-sub {
    color: #000000;
    }

    /* ------Menu ------*/

    #sec-fatin-menu{
        padding: 0;
        min-height: 300px;
    } 

    #sec-fatdown-menu{
        padding: 0;
        min-height: 300px;
    } 

    .fatin-menu-list {
        padding-top: 10px;
        padding-left: 10px;
        text-align: left;
        list-style: none;
        color: #fafafa; 
        max-width: 360px;
    }

    .fatdown-menu-list {
        padding-top: 10px;
        padding-left: 10px;
        text-align: left;
        list-style: none;
        color: #fafafa; 
        max-width: 360px;
        display: none;
    }

    .fatin-menu-list-item {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: #fafafa;
    }

    .fatin-menu-list a {
        text-decoration: none;
        color: #fafafa;
    }

    .fatin-menu-list a:hover {
        padding: 7px;
        color: #495057;
    }

        /* ---------------- fatin_kd.html -------------------*/

        .active-list-item {
            padding: 7px;
            color: #495057;
        }






.fatin-title h1{
    text-align: center;
    color: #495057
}

.text h1 {
    color: #495057
}

.text h5 {
    text-align: justify;
    color: #757575;
    padding-top: 15px;
    padding-bottom: 15px;
}


/* ---------------- SECTION SIGNUP ----------------*/

.signup-container {
    display: flex;
    justify-content: center;
}


.sec-signup h4{
    color: #ff844c;
}

/* Style the form element with a border around it */
form {
    border: initial;
    border-radius: 25px;
    background-color: #373737;

}

/* Add some padding and a grey background color to containers */
.container {
  padding: 20px;
}

/* Style the input elements and the submit button */
input[type=text], input[type=submit] {
  width: 100%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: initial;
  border-radius: 10px;
  box-sizing: border-box;
  
}

/* Add margins to the checkbox */
input[type=checkbox] {
  margin-top: 16px;
}

/* Style the submit button */
input[type=submit] {
  background-color: #ff844c;
  color: white;
  border: none;
}

input[type=submit]:hover {
  opacity: 0.8;
}




/*---------------- Media query ------------------*/

@media (max-width: 721.09px) {
    #nav span {
        display: none;
    }
    
    .menuitem {
        height: 40px;
        width: 60px;
    }

    .section-container {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 50% 50%;
        grid-template-areas: "fatin" 
                            "fatdown"
    }

    .fatin-grid {
        margin-right: 10px; 
    }

    .fatdown-grid {
        margin-left: 10px; 
    }

    .bg-img-fatin {
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        border-bottom-left-radius: 0px;
    }

    .bg-img-fatdown {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    
}