@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Permanent Marker:100,200,300,400,500,600,700');


/* -----------------------  GENERAL LAYOUT ----------------------------*/

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
    text-align: center;
    background-image: url("../images/background-imgs/background-brick-wall-dark.png");
    background-color: #cfd8dc41;
    background-repeat: repeat;
    background-size: unset;
}



/* -----------------------  COLORS ----------------------------*/

        .bg-color-fatin {
            background-color: #ffb84dd0;
        }

        .bg-color-fatin-menu {
            background-color: #ffb74d;
        }

        .bg-color-fatdown {
            background-color: #a4a4a4be;
        }

        .bg-color-fatdown-menu {
            background-color: #a4a4a4;
        }

        .bg-color-progress {
            background-color:#546e7a;
        }



/* -----------------------  FONTS ----------------------------*/

        h3 {
            margin: 0;
            font-family: 'Permanent Marker', cursive;
        }

        p {
            font-family: 'Lato', sans-serif; 
            text-align: justify;
            color: #424242;
            letter-spacing: 2px;
            font-weight: 700; 
            text-transform: uppercase; 
        }

        .uppercase {
            text-transform: uppercase;
        }

        .general-sub {
            font-family: "Lato", sans-serif;
            font-weight: 700;
            letter-spacing: 2px;
            color: #fafafa;
            padding:20px;
        }



/* -----------------------  SPECIAL FONTS / BUTTONS / MARGINS / PADDINGS / LISTS ----------------------------*/

        .text h1 {
            color: #495057;
            padding-bottom: 30px;
        }

        .text p {
            text-align: center;
            color: #757575;
            margin-bottom: 20px;
            font-size: 1rem;
        }

        .text span {
            background-color: #7f0000;
            color: #fafafa;
            padding: 5px;
            border-radius: 10px;
        }

        .section-progress-top .text p {
            color: #fafafa;
        }   

        .contact-box h1 {
            padding: 15px;
            color: #495057;
        }

        .contact-box h4 {
            font-size: 1.3rem;
            padding: 10px;
        }

        .text-box h4,
        .text-box h5 {
            margin: 10px;
        }

        ul {
            margin-bottom: 0;
        }

        /* ----- BUTTONS ----- */

        input[type=submit] {
            background-color: #ff844c;
            color: white;
            border: none;
        }

        .btn {
            border-top-left-radius: 0.7rem;
            border-bottom-left-radius: 0.7rem;
            border-top-right-radius: 0.7rem;
            border-bottom-right-radius: 0.7rem;
            font-size: 1rem;
            font-weight: 600; 
            border-style: initial; 
        }

        .btn-warning {
            background-color:#495057;
            border-style: initial;
            color: #fafafa;
            font-weight: 700;
        }



/* -----------------------  SIGNUP BOX / CONTACT BOX / SOCIAL LINKS / TABLES ----------------------------*/

    .text-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #bc5100;
        height: fit-content;
        width: fit-content;
        color:#fafafa;
        font-size: 5rem;
        border-radius: 25px;
        padding:25px;
    }

    .contact-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #8eacbb;
        color:#fafafa;
        border-radius: 25px;
        padding:25px;
        border-style: solid;
        border-color: #607d8b;
    }

    .contact-box .form-control {
        padding: 5px;
        margin: 15px;
        width: 80%;
    }

    .form-inline {
        padding: 20px;
        text-align: center;
        justify-content: center;
    }

    .footer-signup {
        flex: 50%;
    }

    .footer-signup p{
        text-align: center;
        margin: 0;
    }

    .footer-social {
        flex: 50%;
    }

    .txt-brd-subscribe-social {
        padding: 5px 20px;
        background-color:  #424242;
        border-style: initial;
        border-radius: 15px;
        margin-top: 20px;
        font-size: 15px;
    }

    .social-links {
        padding-bottom: 15px;
    }

    .social-links li a i {
        width: 32px;
        height: 32px;
        padding: 12px;
        border-radius: 50%;
        font-size: 13px;
        line-height: 7px;
        text-align: center;
        color: #fafafa;
        background: #424242;
        transition: all 0.1s ease-in-out;
        -moz-transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        -o-transition: all 0.35s ease-in-out;
    }

    .progress-table {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-wrap: wrap;
    }

    .table-container {
        display: flex;
        height: 100%;
        padding: 0;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
    }

    /* ----- SIGNUP STYLING ----- */

    form {
        border: initial;
        border-radius: 25px;
        background-color: #373737;    
    }

    input[type=text], input[type=submit] {
        width: 100%;
        padding: 12px;
        margin: 8px 0;
        display: inline-block;
        border: initial;
        border-radius: 10px;
        box-sizing: border-box; 
    }

    input[type=checkbox] {
        margin-top: 16px;
    }

    .signup form {
        background: transparent;
    }

    .form-control {
        display: block;
        width: 50vw;
        height: calc(1.5em + .75rem + 2px);
        padding: .375rem .75rem;
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border-style: initial;
        border-top-left-radius: 0.7rem;
        border-bottom-left-radius: 0.7rem;
        border-top-right-radius: 0.7rem;
        border-bottom-right-radius: 0.7rem;
        margin-right: 1rem;
    }



/* -----------------------  MAIN PAGE STRUCTURE / IMAGES ----------------------------*/

    /* ----- MAIN PAGE - HEADER ----- */

    .row-header {  
        display: flex;
        flex-wrap: wrap;
        margin: 10px 10px 5px 10px;
        background-color: #8eacbbc5;
        border-radius: 25px;
    }

        /* ----- HEADER - LOGO / TITLE ----- */

        .logo {
            background: url("../images/background-imgs/logo_transparent.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
            transition: none;
            min-height: 80px;
        }

        .header-logo {
            flex: 15%;
            margin: 0;
        }

        .title {
            font-family: 'Permanent Marker', cursive;
            font-weight: 100;
            font-size: 13px;
            letter-spacing: 1px;
            padding: 10px;
            display: block;
        }

        .txt-fatin {
            color: #f57c00;
            background-color: #424242;
            border-top-left-radius: 25px;
            border-bottom-left-radius: 25px;
            padding-left: 5px;
            padding-right: 1px;
            padding-bottom: 2px;
            padding-top: 2px;
            line-height: 5px;
            text-align: center;
        }

        .txt-fatdown {
            color: #424242;
            background-color: #f57c00;
            border-top-right-radius: 25px;
            border-bottom-right-radius: 25px;
            padding-right: 5px;
            padding-left: 1px;
            padding-bottom: 2px;
            padding-top: 2px;
            line-height: 5px;
            text-align: center;
        }

        .txt-fatdown-sub {
            color: #424242;
        }
    
        /* ----- HEADER - NAVIGATION ----- */

        .header-nav {
            flex: 85%;
            margin: 0;
        }

        .nav-container {
            display: flex;
            height: 100%;
            padding: 0;
            flex-wrap: wrap;
            justify-content: space-evenly;
            align-items: center;
        }

        .menuitem {
            display: flex;
            flex-flow: column wrap;
            height: 80px;
            align-content: space-around;
            justify-content: center;
            margin: 5px;
            border-style: initial;
            border-radius: 15px;
            background-color: #424242;
        }

        .menuitem a {
            width: 120px;
            flex-wrap: wrap;
            text-decoration: none;
            justify-content: center;
            color:#ffffff;  
        }

        .menuitem span {
            display: flex;
            font-family: 'Lato', sans-serif;
            justify-content: center;
            font-weight: 400;
            font-size: 14px;
            padding: 5px;
            letter-spacing: 3px;  
        }

    /* ----- MAIN PAGE - SECTION ----- */

    .row-section {  
        display: flex;
        flex-wrap: wrap;
        margin: 5px 10px 5px 10px;
        min-height: 75vh;
        border-radius: 25px;
    }

    .section-left {
        flex: 49%;
        border-radius: 25px;
        margin: 0 5px 0 0;
    }

    .section-right {
        flex: 49%;
        border-radius: 25px;
        margin: 0 0 0 5px; 
    }

    .sec-fatin {
        display: flex;
        height:75vh;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        padding: 3rem;
        color:#c25e00;
    }

    .sec-fatdown {
        display: flex;
        height:75vh;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        padding: 1rem;  
        color:#424242;
    }

        /* ----- SECTION - LISTS ----- */

        .eatfat-list {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        .burnfat-list {
            text-align: left;
            margin-left: 20px;
        }

        .sec-list-item {
            font-size: 15px;
            list-style: none;
            margin-top: 10px;
        }

        .fa-hamburger {
            margin-right: 15px;
            font-size: 10px;
        }

        .fa-dumbbell {
            margin-right: 15px;
            font-size: 10px;
        }

    /* ----- MAIN PAGE - FOOTER ----- */

    .row-footer {  
        display: flex;
        flex-wrap: wrap;
        margin: 5px 10px 10px 10px;
        background-color: #8eacbbc5;
        border-radius: 25px;
    }

    /* ----- MAIN PAGE - IMAGES ----- */

    .img-section-left {
        background: url("../images/background-imgs/background-eatfat.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    .img-section-right {
        background: url("../images/background-imgs/background-burnfat.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }


/* -----------------------  SUB PAGE SPECIAL STRUCTURE ----------------------------*/

    .section-left-sub {
        flex: 10%;
        margin: 0 5px 0 0;
        border-radius: 25px;
        padding: 15px;
    }

    .section-right-sub {
        flex: 80%;
        margin: 0 0 0 5px;
        border-radius: 25px;
        padding: 25px;
    }   

    
    .row-section-progress {  
        display: flex;
        flex-wrap: wrap;
        margin: 5px 10px 5px 10px;
        min-height: 75vh;
        border-radius: 25px;
        flex-direction: column;
    }

    .row-section-uc {  
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 5px 10px 5px 10px;
        min-height: 75vh;
        border-radius: 25px;
        background: repeating-linear-gradient(
                    45deg,
                    #cabf45,
                    #cabf45 50px,
                    #212121 50px,
                    #212121 100px);
    }

    .section-progress-bottom {
        flex: 100%;
        border-radius: 25px;
        margin: 5px 0 0 0;
    }

    .section-progress-top {
        flex: 100%;
        border-radius: 25px;
        margin: 0 0 5px 0;
    }

    .section-contact {
        justify-content: center;
        align-items: center;
    } 

    .sec-progress {
        display: flex;
        height:75vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 1rem;
        color:#424242;
    }

    /* ----- SUB PAGE - IMAGES / PHOTO GALLERIES ----- */

    .progress-img {
        padding: 0;
        margin: 15px;
        align-self: center;
        justify-self: center;
    }

    .progress-img img{
        max-width: 500px;
    }

    .photo-gallery {
        display: flex;
        flex-wrap: wrap;
        margin: 2vmin;
        padding: 0;
    }

    .photo-gallery li {
        height: 40vh;
        flex-grow: 1;
        margin: 2vmin;
        list-style: none;
    }

    .photo-gallery li:last-child {
        flex-grow: 10;
    }

    .photo-gallery img {
        max-height: 100%;
        min-width: 100%;
        object-fit: fill;
        vertical-align: bottom;
        border-radius: 1vmin;
        text-align: center;
    }

    /* ----- SUB PAGE - MENUS / NAVIGATION ----- */

    .menuitem-progress {
        display: flex;
        flex-flow: column wrap;
        height: 10vh;
        align-content: space-around;
        justify-content: center;
        margin: 15px;
        border-style: initial;
        border-radius: 15px;
        background-color:#7f0000;
    }

    .menuitem-progress a {
        width: fit-content;
        margin:15px;
        flex-wrap: wrap;
        text-decoration: none;
        justify-content: center;
        color:#ffffff;  
    }

    .menuitem-progress span {
        display: flex;
        font-family: 'Lato', sans-serif;
        justify-content: center;
        font-weight: 400;
        font-size: 1.3rem;
        padding: 0;
        letter-spacing: 3px;  
    }

    .fatin-menu-list {
        padding-top: 10px;
        padding-left: 10px;
        text-align: left;
        list-style: none;
        color: #fafafa; 
    }

    .fatdown-menu-list {
        padding-top: 20px;
        padding-left: 10px;
        text-align: center;
        list-style: none;        
    }

    .fatin-menu-list-item {
        font-family: 'Lato', sans-serif;
        font-size: 1rem;
        text-align: left;
        color: #fafafa;
    }

    .fatdown-menu-list-item {
        transition: all 0.5s ease-in-out;
    }

    .fatdown-menu-list-item img {
        border-radius: 10px;
    }
        
    .fatin-menu-list a {
        text-decoration: none;
        color: #fafafa;
    }

    .active-list-item {
        padding: 7px;
        color: #495057;
    }
        


/* -----------------------  HOVERS ----------------------------*/

.social-links li a i:hover {
    background: #ef6c00;
}

.hvr-sweep-to-bottom:before {
    background-color: #ef6c00;
    min-height: auto;
    border-radius: 10px;
}

.fatdown-menu-list-item img:hover {
    transform: scale(1.2);
}

.fatin-menu-list a:hover {
    padding: 7px;
    color: #495057;
}

.menuitem-progress:hover {
    transform: scale(1.2);
    transition: all 0.25s ease-in-out;
}

input[type=submit]:hover {
    opacity: 0.8;
}



/*---------------- MEDIA QUERIES ------------------*/

@media (max-width: 721.09px) {
    #nav span {
        display: none;
    }
    
    .menuitem {
        height: 40px;
        width: 60px;
    }

    .form-control {
        margin-right: 0px;
        margin-bottom: 10px;
    }

    #footer-signup-symbol {
        display: none;
    }
    
    #footer-signup-text {
        display: none;
    }

    #footer-social-symbol {
        display: none;
    }

    #footer-social-text {
        padding-bottom: 0px;
    }

    .row-footer {
        flex-direction: column;
    }

    .row-section {
        flex-direction: column;
    }

    .section-left-sub {
        margin:  0 0 5px 0;
    }

    .section-right-sub {
        margin:  5px 0 0 0;
    }

    .section-left {
        margin:  0 0 5px 0;
    }

    .section-right {
        margin:  5px 0 0 0;
    }

    .table-container {
        flex-direction: column;
    }

    .menuitem-progress a {
    width: 35vw;
    }

    .text p {
    font-size: .6rem;
    line-height: 2;
    font-weight: 400;
    }

    .progress-img img{
    max-width: 200px;
    }
}

/*---------------- MEDIA QUERIES - PHOTO GALLERY ------------------*/

    @media (max-aspect-ratio: 1 / 1) {
        .photo-gallery li {
            height: 30vh;
        }
    }

    @media (max-height: 480px) {
        .photo-gallery li {
            height: 80vh;
        }
    }

    @media (max-aspect-ratio: 1 / 1) and (max-width: 480px) {
        .photo-gallery ul {
            flex-direction: row;
        }

        .photo-gallery li {
            height: auto;
            width: 100%;
        }

        .photo-gallery img {
            width: 100%;
            max-height: 75vh;
            min-width: 0;
        }
    }