@import url('https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700|Permanent Marker:100,200,300,400,500,600,700');

/*----------------- Colours -----------------*/

.bg-body {
    text-align: center;
    background-image: url("../images/brick-wall-dark.png");
    background-color: #cfd8dc41;
    background-repeat: repeat;
    background-size: unset;
}

.bg-color-header-footer {
    background-color: #6d4c41b9;
}

.bg-color-section {
    background-color: #40241ab9;
}



/*----------------------------------Special paddings/margins/text */

.title {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 25px;
    margin-top: 20px;
    letter-spacing: 2px;
    

}

.title-sub {
    text-align: center;
    font-weight: 100;
    color: #ffffff;
    margin-top: 10px;
    letter-spacing: 2px;
}

.title-sub h5 {
    font-family: 'Permanent Marker', cursive;
    font-size: 1rem;
    line-height: 1.5;
}

.text-block {
    display: block;
}

.txt-fatin {
    color: #ef6c00;
    background-color: #424242;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    padding-left: 10px;
    padding-right: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 5px;
}

.txt-fatdown {
    color: #424242;
    background-color: #ef6c00;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    padding-right: 10px;
    padding-left: 1px;
    padding-bottom: 5px;
    padding-top: 5px;
    line-height: 5px;
}

.txt-fatin-sub {
    color: #ef6c00;
}

.txt-fatdown-sub {
    color: #424242;
}

.txt-eatfat-sec {
    color: #ef6c00;
    background-color: #424242;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}

.txt-burnfat-sec {
    color: #424242;
    background-color: #ef6c00;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
}


h1,
h2,
h3 {
    margin: 0;
    font-family: 'Permanent Marker', cursive;
}


h4, 
h5 {
    margin: 0;
    font-family: 'Lato', sans-serif;
}

.uppercase {
    text-transform: uppercase;
}


.general-sub {
    font-family: "Lato", sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    color: #fafafa;
}
/*----------------- Header -----------------*/

.row {
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;;
    margin-right: 10px;
}


.logo {
    background: url("../images/Logo_transparent.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: 100px;
    transition: none;
}



.col-height {
    min-height: 360px;
    border-right-color: #ffffff;
    border-right-style: groove;
}

.border {    
    border-style: initial !important;
    border-radius: 25px;   
}

#sec-fatin {
    color:#c25e00;
}


.list-inline-item:not(:last-child) {
    margin: 0;
}

.menuitem {
    text-align: center;
    height: 80px;
    padding: 0;
    max-width: 100px;
    border-style: initial;
    border-radius: 10px;
    background-color: #9c786c;
}

.menuitem a {
    width: 100px;
    text-decoration: none;
    border-radius: 10px; 
}

.menuitem a i {
    display: block;
    color:#ffffff;
    padding-top: 22px;
    padding-bottom: 5px;
    text-align: center;    
}

.menuitem span {
    display: block;
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    padding: 5px;
    letter-spacing: 3px;
    color:  #ffffff;
}

#nav {
    margin: 5px;
    text-align: center;
    display: block;
   
}

#nav li {
    font-size: 14px;
    padding: 0; 
}



/*----------------- Section -----------------*/

.bg-img-fatin{
    background: url("../images/louis-hansel-shotsoflouis-Keto_Fatin.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.bg-img-fatdown {
    background: url("../images/content-pixie-workpout_fatdown.jpg");
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

#sec-fatin .col-6{
    display:table-column;
    
}

#sec-fatdown .col-6{
    display:table-column;
}

.eatfat-list {
    text-align: left;
    margin-left: 20px;
}

.burnfat-list {
    text-align: left;
    margin-left: 20px;
}


.sec-list-item {
    font-size: 20px;
    list-style: none;
}

.fa-hamburger {
    margin-right: 15px;
    font-size: 10px;
}

.fa-dumbbell {
    margin-right: 15px;
    font-size: 10px;
}

/*----------------- Footer -----------------*/

.txt-brd-subscribe-social {
    padding: 5px 20px;
    background-color:  #40241a;
    border-style: initial;
    border-radius: 15px;
    margin-top: 20px;
    font-size: 15px;
}

footer {
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}

#footer {
    padding: 10px;
    text-align: left;
}

#footer h5 {
    color: #ffffff;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #9c786c;
    transition: all 0.1s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #ffbc45;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: .6rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn {
    border-radius: 0rem;
    font-size: .6rem;
    font-weight: 600;    
}

/*----------------- Hoover -----------------*/

.hvr-sweep-to-bottom:before {
    background-color: #ffbc45;
    min-height: auto;
    border-radius: 10px;
}