@import url('https://fonts.googleapis.com/css?family=Lobster:100,200,300,400,500,600,700|Lato:100,200,300,400,500,600,700|Permanent Marker:100,200,300,400,500,600,700');

/*----------------- Colours -----------------*/

.bg-color-logo {
    background-color: #dddddd;
}

.bg-color-title {
    background-color: #7c7878;
}

/*----------------------------------Special paddings/margins/text */

h1,
h2,
h3,
h4 {
    margin: 0;
}

.uppercase {
    text-transform: uppercase;
}


/*----------------- Header -----------------*/

.logo {
    text-align: center;
    background-image: url(http://www.transparenttextures.com/patterns/brick-wall-dark.png);
    background-repeat: repeat;
    background-size: unset;
    /*transition: all .5s ease-in;
    -moz-transition: all .5s ease-in;
    -webkit-transition: all .5s ease-in;*/
}

.title {
    vertical-align: center;
    min-height: 120px;
    text-align: center;
    background-image: url("../images/brick-wall-dark.png");
    background-repeat: repeat;
    background-size: unset;
    transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
}

img {
    margin-top: 10px;
    margin-bottom: 10px;
}

.title h1 {
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    font-weight: 100;
    font-size: 46px;
    margin-top: 20px;
    letter-spacing: 4px;
    color: #f3ce2b;
}

.title h3 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 400;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 20px;
    letter-spacing: 3px;
    font-style: italic;
    color:  #f3ce2b;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    margin: 0;
}

.menuitem {
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100px;
    text-decoration: none;
}

.menuitem a i {
    display: block;
    color:#f3ce2b;
    padding-top: 22px;
}

.menuitem span {
    display: block;
    width: 150px;
    padding-top: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}


/*----------------- Footer -----------------*/

